@using VendorOrderTracker.Models;

@{
  Layout = "_Layout";
}

<h1>@Model["vendor"].Name</h1>
<p><em>@Model["vendor"].Description</em></p>

<h3>Order List:</h3>

@if (@Model["orders"].Count == 0)
{
  <h3>There are no orders yet!</h3>
}

<ol class="center">
@foreach (Order order in @Model["orders"])
{
  <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Date - @order.Title - @order.Price</a></li>
}
</ol>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
